.dropdown-menu {
    width: 145px;
    position: absolute;
    top: 65px;
    list-style: none;
    text-align: start;
    right: 2.8%;

  }
  
  .dropdown-menu li {
    background: #01959a;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dropdown-menu li:hover {
    background: #000000;
    color: #000000;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 16px;
    color: rgb(255, 255, 255);
    border-radius: 13px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  