@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  background-color: #e0e1dd;
}
/* https://colorkit.co/palette/161A30-4d4f5e-3f4056-383852-31304D-5a5a6c-6f6f7c-83838b-bab8b8-F0ECE5/ */
